<html>
<head>
	<title>Practice Arena!</title>
	<link rel="stylesheet" type='text/css' href="style.css">
	<script>
	var tag = document.createElement('script');
      tag.src = "http://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          	playerVars: { 'autoplay': 1,
          	 	'controls': 0,
           		'autohide':1,
           		'wmode':'opaque',
           		'loop':1


       		},
          	videoId: 'cKjUgLrDEbI',
          	events: {
            	'onReady': onPlayerReady,
            	'onStateChange': onPlayerStateChange,
            }
        });
      }

    
      function onPlayerReady(event) {
        event.target.mute();
      }
      function onPlayerStateChange(event){
      
      	if(event.data == YT.PlayerState.PLAYING){
      		event.target.mute();
      	}
      	else if(event.data == YT.PlayerState.ENDED){
      		console.log("repeating");
      		player.loadVideoById({
      			'videoId': 'cKjUgLrDEbI',
               'startSeconds': 4,
               'endSeconds': 60,
            });
      	}
      
      }

	</script>
	
</head>
<body>
		<iframe id="player" type="text/html"
  src="https://www.youtube.com/embed/cKjUgLrDEbI?enablejsapi=1&autoplay=1&controls=0&modestbranding=1&showinfo=0&start=4&end=60"
  frameborder="0"></iframe>

			<h1>Welcome to Arena Helper!</h1>
			
		
		
		<div id="bottompage" ng-controller="controller">
      <h3>Select a class to start!</h3>
      <center>
			<img ng-click="warrior()" id="first" class="icon" src="static/images/warrior.png">
			<img ng-click="druid()" class="icon" src="static/images/druid.png">
			<img ng-click="warlock()" class="icon" src="static/images/warlock.png">
			<img ng-click="shaman()" class="icon" src="static/images/shaman.png">
			<img ng-click="mage()" class="icon" src="static/images/mage.png">
			<img ng-click="paladin()" class="icon" src="static/images/paladin.png">
			<img ng-click="priest()" class="icon" src="static/images/priest.png">
			<img ng-click="rogue()" class="icon" src="static/images/rogue.png">
			<img ng-click="hunter()" class="icon" src="static/images/hunter.png">
    </center>
			
		</div>
		
</body>
</html>