<html>
	<head>
		<title>Arena</title>
		<link rel="stylesheet" type='text/css' href="stylemain.css">

	</head>
	<body>
		<div ng-controller="wait_controller">
			<h1>Choose a card</h1>
			<a class='button' style="display: block; vertical-align: top; width: 100px " ng-show='show' href='#/gomain'>Continue</a>
			<div id='background'>
				<div ng-repeat='x in cards' class='cards'>
					<div class="tilt">
						<a ng-click="add(x); check(); value();" ><img  height='400' width='200' src='{{x.img}}' alt="error"></a>
					</div>
					<p ng-show='values' class="values">Value Score: {{x.value}}</p>
				</div>
			</div>
			<div id='deck'>
				<p class='color' ng-repeat="y in deck">[{{y.cost}}] {{y.name}}</p>
			</div>
<!-- 
			<div class="curve">
				<table>
					<tr>
						<td> 0 </td>
						<td> 1 </td>
						<td> 2</td>
						<td> 3</td>
						<td> 4</td>
						<td> 5</td>
						<td> 6</td>
						<td> 7+</td>
					</tr>
					<tr ng-repeat="y in deck" ng-if="y.cost==4">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>4</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div> -->
			
		</div>

	</body>
</html>