<html>
	<head>
		<title>Arena</title>
		<link rel="stylesheet" type='text/css' href="stylemain.css">

	</head>
	<body>
		
		<center>
		<div ng-controller="wait_controller">
			<h3> Choose a card
				<a id="toggle" ng-click="sound()" class="btn-floating btn-large waves-effect waves-light blue">
					<i class="material-icons">
						<span ng-if="off">volume_off</span>
						<span ng-if="on">volume_up</span>
					</i>
				</a>
				<a href="/" class="waves-effect waves-light blue btn"><i class="material-icons">home</i></a>
			</h3>
			<h5>Note: Sorry, but the database is not updated with newer cards so some cards and values will not show</h5>

			<a id="next" ng-if="show" ng-click="continue()" class="waves-effect waves-light btn">Next Card</a>
			<br>
			<div id='background'>
				<div ng-repeat='x in cards' class='cards'>
					<div class="tilt">
						<a ng-click="add(x);" ><img  height='400' width='200' src='{{x.img}}' alt="error"></a>
					</div>

					<p ng-show='values' class="values">Value Score: {{x.value}}</p>
				</div>
				<div id="loader" ng-show="loading"class=" center-align preloader-wrapper big active">
					    <div class="spinner-layer spinner-blue-only">
					      <div class="circle-clipper left">
					        <div class="circle"></div>
					      </div><div class="gap-patch">
					        <div class="circle"></div>
					      </div><div class="circle-clipper right">
					        <div class="circle"></div>
					      </div>
					    </div>
				</div>
			</div>
			<div id='deck'>
				<div ng-repeat="y in deck">
					<p ng-mouseover="trigger(y.order)" ng-mouseleave="untrigger()" class='color'>[{{y.cost}}] {{y.name}}</p>
					<img ng-show='popout{{y.order}}'ng-src="{{y.img}}" height='200' width='150'> 
				</div>
			</div>

				
			<iframe ng-if="music" id="main" src="http://www.youtube.com/embed/WXxy3Y8daks?enablejsapi=1&autoplay=1" frameborder="0" height="0" width="0"></iframe>
		</div>
	</center>
	</body>
</html>