body{
	background-size: 100%;
	background-repeat: no-repeat;
}
h1, h2{
	text-align: center;
	color: white;
    margin-top: 5%;
}
#name{
	margin-left:45%;
	margin-top: 30px;
}
.button {
    display: block;
    width: 65px;
    height: 25px;
    background: white;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    color: black;
    margin-left: 5%;
    margin-top: 1%;
  
}
.icon{
    height: 100px;
    width: 100px;
    opacity: .7;
}
.icon:hover{
    opacity: 1;
}
#first{
    margin-left: 10%;
}
#player { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}